@mixin navbar-color() {
  color: $color_text_titulo;
  font-size: bolder;
}
@mixin circle() {
  margin-top: $margin-top;
  border: $border_img;
}

@mixin img-about() {
  margin: $margin-img;
  border-radius: $border-radius_img;
}
@mixin circle_red_social($size, $color) {
  border-radius: 50%;
  border: $border_img;
  width: $size;
  height: $size;
  background-color: $color;
}
