$body_font : 'Raleway', sans-serif;
$background_navbar: #2F1F1F;
$background_services: #E9E0B7;
$background_welcome: #F4F4F4;
$background_about: #4A3A3A;
$background_footer: #2F1F1F;
$border-top: 1px solid #fff;
$color_text_hover : #EDBD76;
$border_img : 0.5em solid #D9BE87;
$border-radius_img : 1em;
$color_text_p : #E3975F;
$color_text_about : #EFB361;
$line-height_p : 25px;
$text_center : center;
$text_left : left;
$text_right : right;
$margin-top : -10%;
$margin-img : 10%;
$margin: 5em;
$padding_media : 11%;
$display: inline-block;
